.checkout{
    display:flex;
    background-color: white;
    padding: 20px;
    height: max-content;
}

.checkout__left{
  max-width: 75%;
}

.checkout__right{
  
}

.checkout__ad {
  width: 100%;
  margin: 10px;
}

.checkout__title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
